@media (max-width: 1439px) {
  #news .news--main__svg {
    display: none;
  }
  #begin .begin--img1 {
    display: none;
  }
}
@media (max-width: 1380px) {
  #customer .customer--img2 {
    display: none;
  }
  #customer .customer--message__info {
    width: 97%;
  }
}
@media (max-width: 1320px) {
  #customer .customer--message h1 {
    font-size: 26px;
  }
  #customer .customer--message__subject2 {
    margin: 0 0 20px 0;
  }
  #business .business--get img {
    width: 101.5%;
  }
  #business .business--get h2 {
    margin: -74px 0 0 107px;
  }
  #business .business--get__ticket button {
    margin: 20px 0 0 50px;
  }
  #business .business--get__ticket--deadline {
    width: 75%;
  }
  #begin .begin--img4 {
    display: none;
  }
}
@media (max-width: 1285px) {
  #customer .customer--message img {
    width: 122.5%;
  }
  #business .business--get img {
    width: 102.5%;
  }
  #trust .trust--card__start {
    width: 80%;
  }
}
@media (max-width: 1230px) {
  #work .work--img {
    display: none;
  }
  #customer .customer--message h1 {
    font-size: 25px;
  }
  #business .business--get h2 {
    margin: -74px 0 0 85px;
  }
}
@media (max-width: 1200px) {
  #begin .begin--img1 {
    display: none;
  }
  #work .work--img {
    padding: 620px 0 0 900px;
  }
  #customer .customer--img2 {
    display: none;
  }
  #customer .customer--message h1 {
    font-size: 23px;
  }
  #customer .customer--message p {
    font-size: 13px;
  }
  #customer .customer--message__subject {
    width: 68%;
  }
  #customer .customer--message__subject2 {
    width: 69%;
    height: 75px;
  }
  #customer .customer--message__info {
    width: 91%;
  }
  #customer .customer--message__info--input {
    width: 25%;
  }
  #trust .trust--card {
    padding: 0 0 0 200px;
  }
  #trust .trust--card__start {
    width: 85%;
  }
  #business .business--get h2 {
    margin: -70px 0 0 95px;
  }
  #business .business--get__ticket button {
    margin: 20px 0 0 50px;
  }
  #meet .meet--position h3 {
    font-size: 17px;
  }
  #news .news--main {
    width: 103%;
  }
  #news .news--main__two {
    margin: 0 0 0 20px;
  }
  #news .news--main__svg {
    display: none;
  }
}
@media (max-width: 1024px) {
  #begin .begin h1 {
    font-size: 45px;
  }
  #begin .begin--norton {
    width: 24%;
  }
  #work .work--img {
    padding: 600px 0 0 700px;
  }
  #customer .customer--message img {
    width: 127%;
  }
  #customer .customer--message h1 {
    font-size: 17px;
  }
  #customer .customer--message p {
    font-size: 11px;
  }
  #customer .customer--message__info {
    width: 102%;
  }
  #customer .customer--message__subject {
    width: 80%;
  }
  #customer .customer--message__subject2 {
    width: 80%;
    height: 30px;
    margin: 0 0 20px 0;
  }
  #customer .customer--two__tittle {
    font-size: 20px;
  }
  #customer .customer--two__paragraph2 {
    padding: 10px 0;
  }
  #business .business--get img {
    width: 112%;
  }
  #business .business--get h2 {
    margin: -60px 0 0 50px;
  }
  #business .business--get__ticket {
    padding: 16%;
  }
  #business .business--get__ticket--cost {
    padding: 0 5px 0 0;
  }
  #business .business--get__ticket--deadline {
    padding: 0 0 20px 20px;
  }
  #news .news--main__one--first__group--tittle {
    font-size: 15px;
  }
  #news .news--main__one--first__group--paragraph {
    font-size: 11px;
  }
  #news .news--main__two img {
    width: 88%;
  }
  #news .news--main__two h1 {
    font-size: 30px;
  }
  #meet .meet--position button {
    font-size: 12px;
  }
  #meet .meet--position center {
    padding: 75px 0 0 0;
  }
}
@media (max-width: 992px) {
  #customer .customer--tittle {
    font-size: 32px;
  }
  #customer .customer--message img {
    width: 123%;
  }
  #customer .customer--message__info {
    width: 105%;
  }
  #customer .customer--message__info--input {
    width: 37%;
    font-size: 9px;
    padding: 5% 5%;
  }
  #customer .customer--message__subject {
    width: 94%;
    padding: 5% 5%;
  }
  #customer .customer--message__subject2 {
    width: 94%;
    padding: 5% 5%;
  }
  #meet .meet--position h3 {
    font-size: 15px;
  }
  #meet .meet--position button {
    font-size: 10px;
  }
  #news .news--main__one--first__group--paragraph {
    font-size: 9px;
  }
  #news .news--main__two img {
    width: 82%;
  }
}
@media (max-width: 768px) {
  #begin .begin h1 {
    font-size: 32px;
  }
  #begin .begin p {
    font-size: 14px;
  }
  #begin .begin--norton h2 {
    font-size: 11px;
  }
  #begin .begin--norton .star {
    font-size: 13px;
  }
  #customer .customer--two__tittle {
    font-size: 15px;
  }
  #customer .customer--two__paragraph2 {
    font-size: 12px;
  }
  #customer .customer--img {
    display: none;
  }
  #customer .customer--tittle {
    font-size: 25px;
  }
  #customer .customer--paragraph {
    font-size: 13px;
    width: 80%;
  }
  #customer .customer--message p {
    font-size: 10px;
    width: 100%;
  }
  #work .work h1 {
    font-size: 35px;
  }
  #work .work p {
    font-size: 15px;
    width: 120%;
  }
  #trust .trust--card {
    padding: 0 0 0 40px;
  }
  #trust .trust--card h1 {
    font-size: 18px;
  }
  #trust .trust--card__start--provide #plus:checked ~ .trust--card__start--provide__lorem {
    height: 50px;
  }
  #trust .trust--card__start--provide #plus2:checked ~ .trust--card__start--provide__lorem {
    height: 50px;
  }
  #trust .trust--card__start--provide #plus3:checked ~ .trust--card__start--provide__lorem {
    height: 50px;
  }
  #trust .trust--card__start--provide #plus4:checked ~ .trust--card__start--provide__lorem {
    height: 50px;
  }
  #business .business--tittle {
    width: 60%;
  }
  #business .business--product {
    font-size: 25px;
  }
  #business .business--get {
    width: 50%;
  }
  #business .business--get h2 {
    margin: -47px 0 0 40px;
  }
  #slider .slider .swiper-slide p {
    font-size: 12px;
  }
  #meet .meet--position h3 {
    font-size: 12px;
  }
  #news .news--main__one--first__group--tittle {
    font-size: 11px;
  }
  #news .news--main__two h1 {
    font-size: 25px;
  }
  #header .header img {
    padding: 0 0 0 100px;
  }
  #header .header button {
    font-size: 10px;
    padding: 5% 0;
    width: 125px;
  }
  #header .header--menu a {
    display: none;
  }
  #header .header .hamburger-menu {
    display: block;
  }
}
@media (max-width: 576px) {
  #header .header button {
    font-size: 10px;
    padding: 5% 0;
    width: 125px;
  }
  #header .header--menu a {
    display: none;
  }
  #begin {
    padding: 100px 0 0 0;
  }
  #begin .begin h1 {
    font-size: 20px;
  }
  #begin .begin p {
    line-height: 16px;
    font-size: 10px;
  }
  #customer .customer--tittle {
    font-size: 19px;
  }
  #customer .customer--paragraph {
    font-size: 11px;
    width: 60%;
  }
  #customer .customer--two__tittle {
    font-size: 12px;
  }
  #customer .customer--two__paragraph2 {
    font-size: 9px;
  }
  #customer .customer--btn {
    font-size: 9px;
  }
  #customer .customer--message h1 {
    font-size: 11px;
  }
  #customer .customer--message p {
    font-size: 8px;
  }
  #customer .customer--message button {
    font-size: 8px;
    width: 105%;
  }
  #trust .trust--card h1 {
    font-size: 13px;
  }
  #trust .trust--card__paragraph {
    font-size: 9px;
  }
  #trust .trust--card__start {
    padding: 20px 10px 20px 20px;
  }
  #business .business--product {
    font-size: 14px;
  }
  #business .business p {
    font-size: 11px;
  }
  #business .business--tittle__h1 {
    font-size: 15px;
  }
  #business .business--tittle__percent {
    font-size: 15px;
  }
  #business .business--get h2 {
    font-size: 11px;
    margin: -34px 0 0 40px;
  }
  #business .business--get__ticket h3 {
    font-size: 9px;
  }
  #business .business--get__ticket--cost {
    font-size: 20px;
  }
  #business .business--get__ticket--deadline {
    font-size: 10px;
    padding: 0 0 5px 15px;
  }
  #business .business--get__ticket button {
    margin: 5px 0 0 27px;
  }
  #slider .slider .swiper-slide p {
    font-size: 9px;
  }
  #slider .slider .swiper-slide h1 {
    font-size: 13px;
  }
  #slider .slider .swiper-slide h3 {
    font-size: 9px;
  }
  #slider .slider .swiper-slide__stars .star {
    font-size: 8px;
  }
  #meet .meet--position center {
    font-size: 10px;
    padding: 40px 0 0 0;
  }
  #meet .meet--position h3 {
    font-size: 10px;
  }
  #meet .meet--position button {
    font-size: 8px;
  }
  #news .news--main__one--first {
    padding: 5px 0 6px 12px;
  }
  #news .news--main__one--first__group--tittle {
    width: 65%;
    font-size: 9px;
  }
  #news .news--main__one--first__group--paragraph {
    width: 93%;
    font-size: 7px;
  }
  #news .news--main__two img {
    width: 68%;
  }
  #news .news--main__two h1 {
    width: 18%;
    font-size: 19px;
    padding: 3% 0 0 32%;
  }
  #news .news--main__two h2 {
    padding: 13% 0 0 3%;
  }
  #theEnd {
    padding: 25px 0;
  }
  #theEnd .theEnd--finish__terms a {
    font-size: 7px;
  }
  #theEnd .theEnd--finish__icons .icon {
    font-size: 10px;
  }
  #theEnd .theEnd--finish__icons .pint {
    width: 5%;
    font-size: 10px;
  }
  #theEnd .theEnd--with__creat {
    font-size: 8px;
  }
  #theEnd .theEnd--with__power {
    font-size: 8px;
  }
  .hamburger-menu {
    display: block;
  }
}
@media (max-width: 450px) {
  #begin {
    padding: 50px 0 0 0;
  }
  #begin .begin p {
    font-size: 8px;
  }
  #begin .begin--norton h2 {
    font-size: 8px;
  }
  #begin .begin--norton .star {
    font-size: 9px;
  }
  #begin .begin button {
    font-size: 10px;
  }
  #work .work h1 {
    font-size: 19px;
  }
  #work .work p {
    font-size: 12px;
  }
  #work .work--img3 {
    padding: 20px 0;
  }
  #work .work--more {
    font-size: 10px;
  }
  #customer .customer--tittle {
    font-size: 12px;
  }
  #customer .customer--paragraph {
    font-size: 8px;
    padding: 10px 0;
  }
  #customer .customer--two__tittle {
    font-size: 8px;
    padding: 0;
  }
  #customer .customer--two__paragraph2 {
    font-size: 6px;
  }
  #customer .customer--btn {
    font-size: 7px;
  }
  #customer .customer--message {
    margin: 0 20px 0 0;
  }
  #customer .customer--message img {
    width: 122%;
  }
  #customer .customer--message h1 {
    font-size: 9px;
  }
  #customer .customer--message p {
    font-size: 6px;
  }
  #customer .customer--message__info--input {
    font-size: 5px;
  }
  #customer .customer--message__subject {
    font-size: 5px;
  }
  #customer .customer--message__subject2 {
    font-size: 5px;
  }
  #trust {
    padding: 70px 0;
  }
  #trust .trust--card h1 {
    font-size: 11px;
  }
  #trust .trust--card__paragraph {
    font-size: 7px;
    padding: 20px 0;
  }
  #trust .trust--card__start {
    padding: 5px 5px 0 15px;
  }
  #trust .trust--card__start--provide h2 {
    font-size: 10px;
  }
  #trust .trust--card__start--provide .plus {
    font-size: 12px;
  }
  #business {
    padding: 50px 0;
  }
  #business .business--tittle__percent {
    font-size: 10px;
  }
  #business .business--tittle__h1 {
    font-size: 10px;
  }
  #business .business--product {
    font-size: 11px;
  }
  #business .business p {
    width: 44%;
    font-size: 6px;
    padding: 10px 0;
  }
  #slider {
    padding: 30px 0;
  }
  #slider .slider .swiper-slide p {
    font-size: 6px;
  }
  #slider .slider .swiper-slide h1 {
    font-size: 9px;
  }
  #slider .slider .swiper-slide h3 {
    font-size: 6px;
  }
  #meet .meet--position h3 {
    font-size: 7px;
  }
  #meet .meet--position button {
    font-size: 6px;
  }
  #meet .meet--svg {
    padding: 20px 0;
  }
  #news {
    padding: 50px 0;
  }
  #news .news--center {
    font-size: 9px;
  }
  #news .news--2center {
    font-size: 20px;
  }
  #news .news--img {
    display: none;
  }
  #news .news--main__one--first {
    margin: 10px 0;
  }
  #news .news--main__one--first__group {
    padding: 0 0 0 7px;
  }
  #news .news--main__one--first__group--design {
    font-size: 6px;
  }
  #news .news--main__one--first__group--tittle {
    font-size: 6px;
    width: 80%;
  }
  #news .news--main__one--first__group--paragraph {
    width: 98%;
    font-size: 5px;
  }
  #news .news--main__two {
    padding: 15px;
  }
  #news .news--main__two h1 {
    width: 11%;
    font-size: 11px;
    padding: 5% 0 0 32%;
  }
  #news .news--main__two img {
    width: 54%;
  }
  #news .news--main__two h2 {
    padding: 0 0 0 32%;
  }
  #theEnd .theEnd--finish__terms {
    margin: 0 0 25px 0;
  }
  #theEnd .theEnd--finish__terms a {
    font-size: 5px;
    padding: 0 5px;
  }
  #theEnd .theEnd--finish__icons .icon {
    font-size: 5px;
  }
  #theEnd .theEnd--finish__icons .pint {
    font-size: 5px;
    width: 3%;
  }
  #theEnd .theEnd img {
    width: 23%;
  }
  #theEnd .theEnd--with {
    padding: 18px 0 0 0;
  }
  #theEnd .theEnd--with__creat {
    font-size: 6px;
  }
  #theEnd .theEnd--with__power {
    font-size: 6px;
  }
}
@media (max-width: 414px) {
  #begin .begin h1 {
    font-size: 15px;
    padding: 0 0 10px 0;
  }
  #begin .begin p {
    font-size: 7px;
  }
  #begin .begin--norton {
    padding: 10px 0 10px 0;
  }
  #begin .begin--norton h2 {
    font-size: 6px;
  }
  #begin .begin--norton .star {
    font-size: 7px;
  }
  #begin .begin button {
    font-size: 8px;
  }
  #work .work--techno {
    font-size: 8px;
  }
  #work .work h1 {
    font-size: 15px;
  }
  #work .work p {
    font-size: 10px;
    line-height: 17px;
  }
  #trust .trust--card h1 {
    font-size: 9px;
  }
  #trust .trust--card__start--provide h2 {
    font-size: 9px;
  }
  #business .business--get h2 {
    font-size: 9px;
    margin: -28px 0 0 35px;
  }
  #business .business--get__ticket--cost {
    font-size: 17px;
  }
  #business .business--get__ticket--deadline {
    font-size: 8px;
    padding: 0 0 5px 10px;
  }
  #business .business--get__ticket h3 {
    font-size: 7px;
    padding: 5px 0;
  }
  #business .business--get__ticket button {
    font-size: 9px;
  }
  #slider .slider .swiper-slide {
    padding: 10px 20px 5px 20px;
  }
  #slider .slider .swiper-slide p {
    width: 100%;
  }
  #slider .slider .swiper-slide h3 {
    padding: 3px 0;
  }
  #meet .meet--position center {
    font-size: 8px;
    padding: 28px 0 0 0;
  }
  #meet .meet--position h3 {
    width: 54%;
    padding: 2.5%;
  }
}
@media (max-width: 380px) {
  #trust .trust--card h1 {
    font-size: 8px;
  }
  #trust .trust--card__paragraph {
    font-size: 5px;
    padding: 10px 0;
  }
  #trust .trust--card__start--provide h2 {
    font-size: 8px;
  }
  #business .business--tittle {
    padding: 15px 0;
  }
}
@media (max-width: 360px) {
  #header .header--menu img {
    width: 30%;
  }
  #header .header button {
    font-size: 7px;
    width: 85px;
  }
  #customer .customer--paragraph {
    font-size: 6px;
  }
  #customer .customer--tittle {
    font-size: 10px;
  }
  #trust .trust--card__start--provide h2 {
    padding: 0 10px 1px 0;
    font-size: 7px;
  }
  #business .business p {
    width: 28%;
    font-size: 5px;
    padding: 8px 0;
  }
  #slider .slider .swiper-slide .img {
    padding: 5px 0;
  }
  #slider .slider .swiper-slide p {
    font-size: 5px;
  }
  #slider .slider .swiper-slide__stars .star {
    font-size: 6px;
  }
  #meet .meet--position h3 {
    width: 59%;
    padding: 1%;
  }
  #meet .meet--position button {
    font-size: 5px;
  }
  #meet .meet--svg {
    padding: 10px 0;
  }
  #news .news--2center {
    font-size: 15px;
  }
  #news .news--center {
    font-size: 7px;
  }
  #news .news--main__one--first {
    padding: 5px 12px 6px 7px;
  }
  #news .news--main__one--first__group--paragraph {
    font-size: 4px;
  }
  #news .news--main__two {
    padding: 10px;
  }
  #news .news--main__two h2 {
    font-size: 9px;
  }
  #news .news--main__two h1 {
    font-size: 9px;
  }
  #theEnd .theEnd--with__creat {
    font-size: 5px;
  }
}
@media (max-width: 320px) {
  #begin .begin p {
    line-height: 11px;
  }
  #begin .begin h1 {
    font-size: 12px;
  }
  #begin .begin--norton {
    width: 23%;
  }
  #begin .begin--norton .star {
    font-size: 5px;
    padding: 0;
  }
  #work .work p {
    font-size: 9px;
    line-height: 13px;
  }
  #work .work--more {
    font-size: 7px;
  }
  #work .work--img3 {
    padding: 8px 0;
  }
  #customer .customer--message__subject {
    margin: 5px 0;
  }
  #customer .customer--message__subject2 {
    margin: 0 0 6px 0;
  }
  #customer .customer--two__tittle {
    font-size: 6px;
  }
  #customer .customer--two__paragraph2 {
    padding: 3px 0;
    font-size: 5px;
    font-weight: 300;
  }
  #business .business--product {
    font-size: 9px;
  }
  #business .business p {
    width: 41%;
    font-size: 4px;
    padding: 2px 0;
    font-weight: 300;
  }
  #business .business--tittle {
    padding: 7px 0;
  }
  #business .business--tittle__h1 {
    font-weight: 300;
  }
  #business .business--tittle__percent {
    font-weight: 300;
  }
  #business .business--line {
    height: 1px;
  }
  #business .business--line2 {
    height: 1px;
  }
  #business .business--line3 {
    height: 1px;
  }
  #business .business--get h2 {
    margin: -21px 0 0 20px;
  }
  #business .business--get__ticket h3 {
    padding: 2px 0;
  }
  #business .business--get__ticket button {
    font-size: 7px;
    margin: 5px 0 0 23px;
  }
  #slider .slider .swiper-slide__stars .star {
    font-size: 5px;
  }
  #meet .meet--position h3 {
    width: 70%;
  }
  #meet .meet--position button {
    font-size: 4px;
  }
  #news .news--main__one--first__group--paragraph {
    font-size: 3px;
  }
  #news .news--main__two h1 {
    font-size: 8px;
  }
  #theEnd .theEnd--with__creat {
    font-size: 3px;
  }
}

/*# sourceMappingURL=media.css.map */
