@import "mixin";

#header {
  position: fixed;
  padding: 1% 0;
  background: rgba(255, 255, 255, 0.77);
  width: 100%;
  z-index: 999;

  .header {
    @include between;

    &--menu {
      @include between;
      width: 50%;

      a {
        color: black;
        font-size: 13px;
        font-family: 'Oswald', sans-serif;
        transition: 0.1s;
      }

      a:hover {
        color: #0057FF;
        font-size: 13px;
        font-family: 'Oswald', sans-serif;
        border-bottom: 1px solid #0057FF;
      }
    }

    button {
      font-family: 'Oswald', sans-serif;
      font-size: 14px;
      color: white;
      background: #0057FF;
      border: none;
      border-radius: 30px;
      width: 180px;
      padding: 8% 1%;
      transition: .6s;
    }

    button:hover {
      font-family: 'Oswald', sans-serif;
      font-size: 14px;
      color: #0057FF;
      background: white;
      border: 1px solid #0057FF;
      border-radius: 30px;
      width: 180px;
      padding: 8% 1%;
      cursor: pointer;
    }
    .hamburger-menu{
      display: none;
    }
  }
}

#begin {
  padding: 200px 0 0 0;
  width: 100%;

  .begin {
    h1 {
      font-size: 56px;
      color: black;
      font-weight: 400;
      width: 40%;
      font-family: "Oswald", sans-serif;
      padding: 0 0 30px 0;
    }

    p {
      font-size: 16px;
      color: black;
      width: 35%;
      line-height: 20px;
    }

    &--norton {
      @include between;
      width: 19%;
      padding: 20px 0 30px 0;
      img{
        width: 30%;
      }
      h2 {
        font-size: 18px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
      }

      .star {
        color: gold;
        padding: 5px 0 0 0;
      }
    }

    &--img1 {
      position: absolute;
      margin: -250px 0 0 540px;
    }

    &--img2 {
      position: absolute;
      margin: -35% 0 0 35%;
      width: 48%;
    }

    &--img3 {
      position: absolute;
      margin: -9% 0 0 70%;
      width: 20%;
    }

    &--img4 {
      position: absolute;
      margin: 250px 0 0 500px;
    }

    button {
      @include button-hover;
    }

    button:hover {
      @include btn-hover;
    }
  }
}

#work {
  .work {
    padding: 20%;
    @include align;

    &--techno {
      font-weight: 400;
      font-size: 11px;
      color: #0057FF;
    }

    h1 {
      font-weight: 400;
      font-size: 40px;
      text-align: center;
      color: #000000;
      padding: 20px 0;
    }

    p {
      width: 70%;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #000000;
    }

    &--img3 {
      width: 150%;
      padding: 50px 0;
    }

    &--more {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      color: #000000;
      transition: .4s;
    }

    &--img {
      margin-left: 100%;
      margin-top: -20%;
    }
  }
}

#customer {
  .customer {
    @include between;

    &--tittle {
      @include bigTittle;
    }

    &--paragraph {
      @include paragraph;
    }

    &--two {
      @include between;
      width: 70%;

      .tie {
        @include icon;
        width: 15%;
      }

      &__tittle {
        @include tittle;
      }

      &__paragraph2 {
        @include paragraph;
      }
    }

    &--btn {
      @include btn;
    }

    &--btn:hover {
      @include btnHover;
    }

    &--message {
      @include align;
      padding: 0 3% 3% 3%;
      width: 40%;
      background: #FFFFFF;
      box-shadow: 1px 8px 28px rgba(83, 83, 83, 0.15);
      border-radius: 15px;
      margin: 0 50px 0 0;

      img {
        width: 120.7%;
      }

      h1 {
        font-weight: 400;
        font-size: 29px;
        color: black;
        font-family: "Oswald", sans-serif;
        text-align: center;
        padding: 10% 0 4% 0;
      }

      p {
        font-size: 16px;
        color: black;
        width: 70%;
        text-align: center;
        padding: 0 0 10% 0;
        font-weight: 300;
      }

      &__info {
        @include between;
        width: 97.5%;

        &--input {
          background: #F8F8F8;
          border: 1px solid #E7E7E7;
          border-radius: 6px;
          padding: 5% 11%;
          color: black;
          width: 26%;
          font-size: 11px;
        }
      }

      &__subject {
        background: #F8F8F8;
        border: 1px solid #E7E7E7;
        border-radius: 6px;
        padding: 5% 11%;
        color: black;
        width: 75%;
        margin: 20px 0;
        font-size: 11px;
      }

      &__subject2 {
        background: #F8F8F8;
        border: 1px solid #E7E7E7;
        border-radius: 6px;
        padding: 5% 11%;
        color: black;
        width: 75%;
        height: 140px;
        margin: 20px 0;
        font-size: 11px;
      }

      button {
        font-size: 15px;
        background: #0057FF;
        color: white;
        padding: 5% 0;
        border-radius: 30px;
        border: none;
        transition: 0.2s;
        width: 95%;
      }

      button:hover {
        font-size: 15px;
        background: white;
        color: #0057FF;
        padding: 5% 0;
        border-radius: 30px;
        border: 1px solid #0057FF;
        cursor: pointer;
        width: 95%;

      }
    }

    &--img {
      position: absolute;
      margin: -500px 0 0 675px;
    }

    &--img2 {
      position: absolute;
      margin: 400px 0 0 1100px;
    }
  }
}

#trust {
  padding: 200px 0;

  .trust {
    @include between;

    img {
      width: 40%;
    }

    &--card {
      padding: 0 0 0 300px;

      h1 {
        font-weight: 400;
        font-size: 40px;
        color: black;
        font-family: "Oswald", sans-serif;
        width: 90%;
      }

      &__paragraph {
        font-size: 15px;
        color: black;
        width: 90%;
        padding: 30px 0;
      }

      &__start {
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px 0 10px 20px;
        width: 70%;

        &--provide {
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;

          h2 {
            font-size: 16px;
            @include font;
            font-weight: 200;
            color: black;
            padding: 0 10px 15px 0;
            width: 80%;
          }

          input {
            display: none;
          }

          .plus {
            color: #0057FF;
            font-size: 20px;
          }

          #plus:checked ~ .trust--card__start--provide__lorem {
            height: 40px;
          }

          #plus2:checked ~ .trust--card__start--provide__lorem {
            height: 40px;
          }

          #plus3:checked ~ .trust--card__start--provide__lorem {
            height: 40px;
          }

          #plus4:checked ~ .trust--card__start--provide__lorem {
            height: 40px;
          }

          &__lorem {
            height: 0;
            overflow: hidden !important;
            transition: 1s;

            &--paragraph {
              font-size: 15px;
              color: black;
              font-weight: 200;
            }
          }
        }
      }
    }
  }
}

#business {
  padding: 100px 0;

  .business {
    @include between;
    width: 95%;

    &--product {
      @include bigTittle;
    }

    p {
      @include paragraph;
    }

    &--tittle {
      @include between;
      width: 70%;
      padding: 30px 0;

      &--h1 {
        font-weight: 100;
        font-size: 19px;
        font-family: "Oswald", sans-serif;
        color: black;
      }
    }

    &--line {
      width: 50%;
      background: #0057FF;
      height: 4px;
      border-radius: 100px;
    }

    &--line2 {
      width: 40%;
      height: 4px;
      border-radius: 100px;
      background: #B861FF;
    }

    &--line3 {
      width: 45%;
      height: 4px;
      background: #FF8E32;
      border-radius: 100px;
    }

    &--get {
      width: 40%;
      border-radius: 15px 15px 0 0;

      img {
        width: 98.5%;
        margin: 0 0 -10px 0;
      }

      h2 {
        font-size: 19px;
        font-family: "Oswald", sans-serif;
        position: absolute;
        color: white;
        margin: -90px 0 0 130px;
      }

      &__ticket {
        background: #FFFFFF;
        box-shadow: 1px 10px 30px rgba(83, 83, 83, 0.15);
        border-radius: 0 0 10px 10px;
        padding: 40px 0 40px 80px;
        width: 80%;

        &--cost {
          @include second;
          padding: 0 80px 0 0;
        }

        &--deadline {
          @include small;
          padding: 0 0 20px 0;
        }

        h3 {
          font-weight: 400;
          font-size: 12px;
          font-family: "Oswald", sans-serif;
          padding: 10px 0;
        }

        button {
          font-family: "Oswald", sans-serif;
          font-size: 13px;
          margin: 20px 0 0 80px;
          background: #0057FF;
          color: white;
          border: none;
          border-radius: 30px;
          padding: 3% 8%;
          transition: 0.2s;
        }

        button:hover {
          font-family: "Oswald", sans-serif;
          font-size: 13px;
          margin: 20px 0 0 80px;
          background: white;
          color: #0057FF;
          border: 1px solid #0057FF;
          border-radius: 30px;
          padding: 3% 8%;
        }
      }
    }
  }
}

#slider {
  padding: 100px 0;

  .slider {
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      width: 380px;
      padding: 20px 0 20px 0;
      border: 1px solid #E7E7E7;
      border-radius: 10px;
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      flex-direction: column;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      p {
        font-size: 14px;
        color: black;
        width: 90%;
      }

      h1 {
        font-weight: 400;
        font-size: 20px;
        font-family: "Oswald", sans-serif;
        color: black;
      }

      h3 {
        font-weight: 400;
        font-size: 13px;
        font-family: "Oswald", sans-serif;
        color: black;
        padding: 8px 0;
      }

      &__stars {
        .star {
          color: gold;
          font-size: 13px;
        }
      }

      .img {
        width: 30%;
        padding: 10px 0;
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#meet {
  .meet {
    @include align;

    img {
      width: 30%;
    }

    &--position {
      @include align;
      position: absolute;

      center {
        @include twelve;
        padding: 100px 0 0 0;
      }

      h3 {
        font-size: 24px;
        width: 40%;
        color: black;
        text-align: center;
        padding: 1.5%;
        font-weight: 300;
      }

      button {
        font-family: "Oswald", sans-serif;
        font-size: 14px;
        color: white;
        background: #0057FF;
        border: none;
        padding: 1% 2%;
        border-radius: 30px;
        transition: 0.2s;
      }

      button:hover {
        font-family: "Oswald", sans-serif;
        font-size: 14px;
        color: #0057FF;
        background: white;
        border: 1px solid #0057FF;
        padding: 1% 2%;
        border-radius: 30px;
        cursor: pointer;
      }
    }

    &--svg {
      border-bottom: 1px solid gray;
      border-top: 1px solid gray;
      padding: 50px 0;
      @include between;
      width: 100%;

      img {
        width: 12%;
      }
    }
  }
}

#news {
  padding: 100px 0;

  .news {
    &--center {
      @include twelve;
    }

    &--2center {
      font-size: 40px;
      font-family: "Oswald", sans-serif;
      color: black;
      font-weight: 400;
    }

    &--main {
      @include between;
      width: 97%;

      &__one {
        &--first {
          background: #FFFFFF;
          border: 1px solid #D9DCEC;
          border-radius: 10px;
          padding: 20px 0 20px 15px;
          margin: 20px 0;
          width: 95%;
          @include between;

          img {
            width: 39%;
          }

          &__group {
            padding: 0 0 0 20px;

            &--design {
              font-size: 11px;
              color: #0057FF;
              @include font;
            }

            &--tittle {
              font-size: 20px;
              color: black;
              @include font;
              width: 53%;
              padding: 5% 0;
            }

            &--paragraph {
              font-size: 14px;
              color: black;
              width: 60%;
            }
          }
        }
      }

      &__two {
        background: #FFFFFF;
        border: 1px solid #D9DCEC;
        border-radius: 10px;
        padding: 20px;

        img {
          width: 94%;
        }

        h2 {
          font-size: 11px;
          color: #0057FF;
          position: absolute;
          padding: 15% 0 0 3%;
        }

        h1 {
          position: absolute;
          font-size: 40px;
          color: black;
          width: 30%;
          @include font;
          padding: 19% 0 0 2%;
        }
      }

      &__svg {
        position: absolute;
        padding: 200px 0 0 1273px;
      }
    }
  }
}

#theEnd {
  background: black;
  padding: 70px 0;

  .theEnd {
    @include between;
    img{
      width: 30%;
    }
    &--with {
      @include between;
      padding: 60px 0 0 0;

      &__creat {
        @include font;
        color: #999999;
        font-size: 12px;
        border-right: 1px solid white;
        padding: 0 10px 0 0;

        span {
          color: white;
        }
      }

      &__power {
        @include font;
        color: #999999;
        font-size: 12px;
        padding: 0 0 0 10px;

        span {
          color: white;
        }
      }
    }

    &--finish {
      text-align: right;

      &__terms {
        @include between;
        margin: 0 0 60px 0;

        a {
          @include font;
          color: white;
          font-size: 12px;
          padding: 0 10px;
          transition: 0.2s;
        }

        a:hover {
          @include font;
          color: white;
          font-size: 12px;
          padding: 0 10px;
          text-decoration: underline;
        }
      }

      &__icons {
        .icon {
          margin: 0 3px;
          color: white;
          border-radius: 50%;
          border: 0.1px solid white;
          padding: 3%;
          transition: 0.2s;
        }

        .icon:hover {
          margin: 0 3px;
          color: black;
          border-radius: 50%;
          border: 0.1px solid white;
          padding: 3%;
          background: white;
        }

        .pint {
          width: 3.2%;
          margin: 0 3px;
          color: white;
          border-radius: 50%;
          border: 0.1px solid white;
          padding: 3%;
          transition: 0.2s;
        }

        .pint:hover {
          width: 3.2%;
          margin: 0 3px;
          color: black;
          border-radius: 50%;
          border: 0.1px solid white;
          padding: 3%;
          background: white;
        }
      }
    }
  }
}